{% extends 'dist/base.html' %}
{% block title %}
| public page
{% endblock title %}
{% block body %}
<div class="card-title" style="height: 2cm; text-align:center;">
    <h1>Home</h1>
    <h4>Explore people</h4>
<p style="color: rgb(255, 58, 255);">How different People are!</p>

</div>
{% if public == "ideas" %}
<br><br>
<div class="card">
    <div class="card-header">
        <h2 style="color: rgb(49, 174, 216);">Ideas and Thoughts of People</h2>
        {% for diary in showings %}
        <h5>{{diary.subject}}</h5>
        <p>{{diary.post}}</p>
        <hr>
        {% endfor %}
    </div>
</div>
{% elif public == "favourites" %}
{% for favourites in showings %}
<section class="section">
    <div class="row">
        {% if favourites.person_data %}
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="recent-message d-flex px-4 py-3">
                        <div class="avatar avatar-lg">
                            <img style="height: 3rem; width: 3rem; border-radius: 1.5rem;"
                                src="{{ url_for('static', filename='assets/images/faces/3.jpg') }}">
                        </div>
                        <div class="name ms-4">
                            <h5 class="mb-1">{{favourites.person}}</h5>
                            <p>{{favourites.person_data}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if favourites.flower_data %}
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="recent-message d-flex px-4 py-3">
                        <div class="avatar avatar-lg">
                            <img style="height: 3rem; width: 3rem; border-radius: 1.5rem;"
                                src="{{ url_for('static', filename='assets/images/faces/2.jpg') }}">
                        </div>
                        <div class="name ms-4">
                            <h5 class="mb-1">{{favourites.flower}}</h5>
                            <p>{{favourites.flower_data}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if favourites.fruit_data %}
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="recent-message d-flex px-4 py-3">
                        <div class="avatar avatar-lg">
                            <img style="height: 3rem; width: 3rem; border-radius: 1.5rem;"
                                src="{{ url_for('static', filename='assets/images/faces/fr.png') }}">
                        </div>
                        <div class="name ms-4">
                            <h5 class="mb-1">{{favourites.fruit}}</h5>
                            <p>{{favourites.fruit_data}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if favourites.food_data %}
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="recent-message d-flex px-4 py-3">
                        <div class="avatar avatar-lg">
                            <img style="height: 3rem; width: 3rem; border-radius: 1.5rem;"
                                src="{{ url_for('static', filename='assets/images/faces/f.jpg') }}">
                        </div>
                        <div class="name ms-4">
                            <h5 class="mb-1">{{favourites.food}}</h5>
                            <p>{{favourites.food_data}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if favourites.drink_data %}
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="recent-message d-flex px-4 py-3">
                        <div class="avatar avatar-lg">
                            <img style="height: 3rem; width: 3rem; border-radius: 1.5rem;"
                                src="{{ url_for('static', filename='assets/images/faces/d.jpg') }}">
                        </div>
                        <div class="name ms-4">
                            <h5 class="mb-1">{{favourites.drink}}</h5>
                            <p>{{favourites.drink_data}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if favourites.place_data %}
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="recent-message d-flex px-4 py-3">
                        <div class="avatar avatar-lg">
                            <img style="height: 3rem; width: 3rem; border-radius: 1.5rem;"
                                src="{{ url_for('static', filename='assets/images/faces/4.gif') }}">
                        </div>
                        <div class="name ms-4">
                            <h5 class="mb-1">{{favourites.place}}</h5>
                            <p>{{favourites.place_data}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if favourites.game_data %}
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="recent-message d-flex px-4 py-3">
                        <div class="avatar avatar-lg">
                            <img style="height: 3rem; width: 3rem; border-radius: 1.5rem;"
                                src="{{ url_for('static', filename='assets/images/faces/g.png') }}">
                        </div>
                        <div class="name ms-4">
                            <h5 class="mb-1">{{favourites.game}}</h5>
                            <p>{{favourites.game_data}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if favourites.movie_data %}
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="recent-message d-flex px-4 py-3">
                        <div class="avatar avatar-lg">
                            <img style="height: 3rem; width: 3rem; border-radius: 1.5rem;"
                                src="{{ url_for('static', filename='assets/images/faces/m.jpg') }}">
                        </div>
                        <div class="name ms-4">
                            <h5 class="mb-1">{{favourites.movie}}</h5>
                            <p>{{favourites.movie_data}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if favourites.animal_data %}
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="recent-message d-flex px-4 py-3">
                        <div class="avatar avatar-lg">
                            <img style="height: 3rem; width: 3rem; border-radius: 1.5rem;"
                                src="{{ url_for('static', filename='assets/images/faces/4.jpg') }}">
                        </div>
                        <div class="name ms-4">
                            <h5 class="mb-1">{{favourites.animal}}</h5>
                            <p>{{favourites.animal_data}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% if favourites.tvshow_data %}
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="recent-message d-flex px-4 py-3">
                        <div class="avatar avatar-lg">
                            <img style="height: 3rem; width: 3rem; border-radius: 1.5rem;"
                                src="{{ url_for('static', filename='assets/images/faces/ts.gif') }}">
                        </div>
                        <div class="name ms-4">
                            <h5 class="mb-1">{{favourites.tvshow}}</h5>
                            <p>{{favourites.tvshow_data}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endfor %}


{% elif public == "experiences" %}
<br><br>
<div class="card">
    <div class="card-header">
        <h2 style="color: rgb(7, 101, 133);">Experience Shared by People</h2>
        {% for experience in showings %}
        <h3 style="color: rgb(76, 132, 238);">{{experience.item}}</h3>
        <h4 style="color: rgb(49, 174, 216);">{{experience.heading}}</h4>
        <h4>{{experience.description}}</h4>
        <p>{{experience.writing}}</p>
        <hr>
        {% endfor %}
    </div>
</div>

{% endif %}


{% endblock body %}